$font_color: rgba(51, 51, 51, 1);
$light_font: rgba(51, 51, 51, 0.5);

$light_gray: #E5E5E5;
$lighter_gray: #F5F5F5;

$link: #3C8DDE;

$shiny_button_dark: #B1B1B1;
$shiny_button_light: #c8c8c8;

body {
  background: #FFFFFF url('bg_form.png') left top;
  background: -webkit-gradient(linear, 
                              left top, 
                              left 100, 
                              from(#FFFFFF), 
                              color-stop(4%, $light_gray), 
                              to(#FFFFFF));
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  color: $light_font;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

a.shiny_button {
  color: $font_color;
  background-color: $light_gray;
  background-image: -webkit-linear-gradient($lighter_gray, $shiny_button_light);
  border: 1px solid #646464;
  border-top: 1px solid $shiny_button_dark;
  border-left: 1px solid $shiny_button_dark;
  box-shadow: rgba(0,0,0, 0.25) 1px 1px 2px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: #FFF 0 1px 0;
  padding: 0.2em 0.7em;
  white-space: nowrap;
}

a.shiny_button:hover {
  background-image: -webkit-linear-gradient($lighter_gray, $shiny_button_dark);
  background-image: -moz-linear-gradient($lighter_gray, $shiny_button_dark);
  box-shadow: rgba(0,0,0, 0.35) 1px 1px 2px;
}

a.shiny_button:active {
  background-image: -webkit-linear-gradient($shiny_button_light, $light_gray);
  background-image: -moz-linear-gradient($shiny_button_light, $light_gray);
  border: 1px solid #A5A5A5;
  box-shadow: none;
}

input {
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, 
                              left top, 
                              left 25, 
                              from(#FFFFFF), 
                              color-stop(4%, #EEEEEE), 
                              to(#FFFFFF));   
  border: solid 1px $light_gray;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
  padding: 0.5em;
  outline: 0;
}
input:hover {
  border-color: #c9c9c9;
  box-shadow: rgba(0, 0 , 0, 0.15) 0 0 8px;
}
input:focus {
  border-color: $link;
  box-shadow: $link 0 0 8px;
}
#search {
  input {
    background: url('search.png') 4px center no-repeat, url('bg_form.png') left top repeat-x;
    background-color: #FFF;
    background-size: 16px 16px;
    padding: 0.5em;
    padding-left: 2.5em;
  }
}
#header, #content, #footer {
  margin: 0 auto;
  max-width: 60em;
  padding: 0.5em;
}

#topNav {
  background: rgba(220, 220, 220, 1);
  border-left: 1px solid rgba(200, 200, 200, 1);
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  border-bottom-left-radius: 6px;
  box-shadow: rgba(200,200,200, 0.75) 2px 2px 10px 0px;
  font-size: 0.75em;
  position: absolute;
    top: 0;
    right: 0;
  a {
    border-left: 1px solid rgba(240, 240, 240, 0.5);
    color: $light_font;
    display: inline-block;
    margin-left: -2px;
    padding: 0.5em;
    text-decoration: none;
    text-shadow: #FFF 0 1px 0;
    font-weight: bold;
  }
  a:hover {
    background: $link;
    border-left: 1px solid rgba(240, 240, 240, 0.75);
    color: #FFF;
    text-shadow: $light_font 0 1px 0;
  }
  a.left {
    border-bottom-left-radius: 6px;
  }
}

#header {
  margin-bottom: 0.25em;
  h1, h1 a {
    font-family: 'Puritan', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1.5em;
  }
  h1, nav {
    display: inline-block;
    a {
      color: $light_font;
      text-decoration: none;
    }
  }
  form {
    display: inline-block;
    margin-left: 2em;
  }
  nav {
    a.left {
      margin-left: 1em;
    }
    a:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}

#content {
  border: 1px solid rgba(0,0,0, 0.15);
  border-top: 1px solid rgba(0,0,0, 0.001);
  border-left: 1px solid rgba(0,0,0, 0.05);
  border-radius: 4px;
  box-shadow: rgba(0,0,0, 0.15) 1px 2px 5px 0px;
}

#footer {
  margin-top: 2em;
  #copy, #copy a {
    color: rgba(210,210,210, 0.75);
  }
  #copy {
    font-size: 0.75em;
    text-align: center;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $link;
      text-decoration: underline;
    }
  }
}