/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

#home {
  form {
    border: 1px solid red;
    margin: 0 auto;
    width: 50%;
  }
  #search {
    border: 1px solid rgba(0,0,0, 0.15);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    box-shadow: rgba(0,0,0, 0.15) 1px 1px 2px;;
  }
  input {
    background: url('search.png') 4px center no-repeat, url('bg_form.png') left top repeat-x;
    background-size: 16px 16px;
    padding-left: 2em;
  }
}