/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

#home {
  #header, #content, #footer {
    max-width: 35em;
  }
  #search {
    font-size: 1.25em;
    width: 20em;
  }
  form {
    margin: 0 auto;
    fieldset {
      text-align: center;
    }
    input {
      background: url('search.png') 10px center no-repeat, url('bg_form.png') left top repeat-x;
      background-size: 24px 24px;  
      padding-left: 2em;
    }
  }
}