/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
$font_color: rgba(51, 51, 51, 1);
$light_font: rgba(51, 51, 51, 0.5);

$light_gray: #E5E5E5;
$lighter_gray: #F5F5F5;

$link: #3C8DDE;

#home {
  padding-top: 5em;
  #header, #content, #footer {
    max-width: 35em;
  }
  #header {
    margin-bottom: 1em;
    h1 {
      font-size: 3em;
      text-align: center;
    }
  }
  #search {
    font-size: 1.25em;
    margin-top: 0.5em;
    width: 20em;
  }
  #search_buttons {
    margin: 1em 0 0.5em 0;
  }
  form {
    margin: 0 auto;
    fieldset {
      text-align: center;
    }
    input {
      background: url('search.png') 10px center no-repeat, url('bg_form.png') left top repeat-x;
      background-size: 24px 24px;  
      padding-left: 2em;
    }
    input[type="radio"] {
      display:none; 
    }
    label {
      color: rgba(51, 51, 51, 0.5);
      border-radius: 4px;
      display:inline-block;
      padding: 0.25em 0.5em;
    }
    input[type="radio"]:hover + label:hover { 
      background-color: $link;
      box-shadow: rgba(0,0,0, 0.5) 1px 2px 5px 0px;
      color: #fff;
    }
    input[type="radio"]:checked + label { 
      background-color: $font_color;
      box-shadow: rgba(0,0,0, 0.5) 1px 2px 5px 0px;
      color: #fff;
    }

  }
}