/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
#search {
  section.main > header {
    margin-bottom: 2em;
  }
  section.main footer {
    margin-top: 2em;
  }
  article {
    margin-top: 1em;
    h1 {
      font-size: 1.1em;
    }
  }
  #searchBox {
    input {
      background: url('search.png') 8px center no-repeat, url('bg_form.png') left top repeat-x;
      background-size: 24px 24px;
      font-size: 1.5em;
      padding-left: 2em;
      width: 88%;
    }
  }
}